langchain
langchain-community
langchain-openai


openai
pypdf
faiss-cpu
chromadb
streamlit
beautifulsoup4
requests

faiss-cpu        # if you’re using FAISS locally
requests
beautifulsoup4
python-dotenv
streamlit

